:root {
  --white-color: #ffffff;
  --font-color: #b7c0ff;
  --darkest-blue: #131a57;
  --medium-blue: #283593;
  --content-space-width: 1690px;
  --brain-round-size: 930px;
  --prv-size: 13px;
  --prv-active-size: 24px;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("assets/fonts/Gilroy-Medium.eot");
  src: local("assets/fonts/Gilroy-Medium"), local("Gilroy-Medium"),
    url("assets/fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Medium.woff") format("woff"),
    url("assets/fonts/Gilroy-Medium.ttf") format("truetype"),
    url("assets/fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("assets/fonts/Gilroy-SemiBold.eot");
  src: local("assets/fonts/Gilroy-SemiBold"), local("Gilroy-SemiBold"),
    url("assets/fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Gilroy-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Gilroy-SemiBold.woff") format("woff"),
    url("assets/fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("assets/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Gilroy-Medium", Arial, sans-serif;
  font-size: 18px;
}

html,
body,
div,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkest-blue);
  overflow: scroll;
}

h1,
h2 {
  font-family: "Gilroy-SemiBold", Arial, sans-serif;
  font-weight: 500;
}

.logo,
.menu-link,
.btn {
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  color: var(--white-color);
  font-size: 105px;
  line-height: 1.08em;
  margin-top: 50px;
  overflow: hidden;
  animation: draw-curtain-wide 1s;
  animation-fill-mode: both;
}

h2 {
  color: var(--font-color);
  font-size: 58px;
}

p {
  color: var(--font-color);
  line-height: 1.6em;
  margin: 60px 0 0 0;
}

.logo {
  color: var(--font-color);
  font-size: 30px;
  letter-spacing: 20px;
  overflow: hidden;
  animation: draw-curtain 0.8s;
  animation-fill-mode: both;
}

.menu-link {
  color: var(--font-color);
  letter-spacing: 10px;
  text-align: center;
  margin: 0 0 0 60px;
  opacity: 0;
  animation: appear 0.4s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

.menu-link:nth-of-type(2) {
  animation-delay: 0.6s;
}
.menu-link:nth-of-type(3) {
  animation-delay: 0.9s;
}
.menu-link:nth-of-type(4) {
  animation-delay: 1.2s;
}

.btn {
  display: block;
  height: 83px;
  width: 336px;
  color: var(--white-color);
  border: solid 1px var(--white-color);
  margin: 60px 0 0 0;
  background-color: transparent;
  border-radius: 0;
  letter-spacing: 5px;
}

.title-block .btn {
  animation: zoom-in 1s;
}

.container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--medium-blue);
  position: relative;
}

.wrapper {
  max-width: 96%;
  width: var(--content-space-width);
  margin: 0 auto;
}

.centered-wrapper {
  display: flex;
  justify-content: space-between;
}

.content-block,
.title-block,
.wrapper {
  position: relative;
}

.menu-block {
  z-index: 100;
  position: absolute;
  top: 0;
  left: calc(50% - (var(--content-space-width) / 2));
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
}

.title-block {
  margin: 0 0 0 72px;
  z-index: 100;
  max-width: 30%;
  min-width: 500px;
}

.content-block {
  margin: 0 0 0 74px;
  max-width: 700px;
  z-index: 100;
  display: none;
}

.brain-block {
  width: var(--brain-round-size);
  height: var(--brain-round-size);
  border-radius: 50%;
  background-color: var(--darkest-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50vh - (var(--brain-round-size) / 2));
  left: calc(50% - (var(--brain-round-size) / 2));
  z-index: 50;
  animation: zoom-in-colorful 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.brain-block::before {
  content: "";
  display: block;
  width: 1353px;
  height: 1353px;
  border-radius: 50%;
  z-index: 45;
  position: absolute;
  background-color: rgba(19, 26, 87, 0.43);
  animation: zoom-in-colorful 0.8s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.brain-block img {
  height: 700px;
  margin: 0 0 100px 120px;
  z-index: 55;
  opacity: 0;
  animation: zoom-in 0.8s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
}

.video-block {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 20;
  top: 0;
  animation: slide-in-right 2s;
  animation-fill-mode: both;
  animation-delay: 1.9s;
}

.content-bg {
  height: 100vh;
  width: calc(50% - 60px);
  background-color: var(--medium-blue);
  z-index: 30;
  position: absolute;
}

.previews {
  left: calc(50% - 44px);
  margin: 0 auto 112px auto;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  position: absolute;
  bottom: 0;
  z-index: 200;
  align-items: center;
}

.preview-item {
  display: block;
  border: solid 1px var(--white-color);
  border-radius: 50%;
  width: var(--prv-size);
  height: var(--prv-size);
  background-color: transparent;
}

.preview-item.active {
  background-color: #6b7dff;
  border-color: #6b7dff;
  width: var(--prv-active-size);
  height: var(--prv-active-size);
}

.scrolled .brain-block {
  animation: grow 1.5s;
  animation-fill-mode: both;
}

.scrolled .brain-block img {
  animation: zoom-out 1.5s;
  animation-fill-mode: both;
}

.scrolled .brain-block::before {
  animation: zoom-out 1.5s;
  animation-fill-mode: both;
}

.scrolled .content-block {
  display: block;
}

.scrolled .content-block h2,
.scrolled .content-block p,
.scrolled .content-block .btn {
  animation: rotate-in-up-left 2s;
  animation-fill-mode: both;
}

.scrolled .content-block h2 {
  animation-delay: 2.5s;
}

.scrolled .content-block p {
  animation-delay: 2.7s;
}

.scrolled .content-block .btn {
  animation-delay: 2.9s;
}

.scrolled .video-block {
  animation: zoom-and-grow-left 3s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.scrolled .video-block video {
  animation: zoom-and-grow-left-vid 3s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.scrolled .content-bg {
  display: none;
}

.invisible {
  display: none;
  visibility: hidden;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    animation-timing-function: ease-in;
  }
}

@keyframes zoom-out {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes zoom-in-colorful {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

@keyframes grow {
  0% {
  }
  50% {
    width: 2000px;
    height: 2000px;
    top: calc(50vh - 1000px);
    left: calc(50% - 1000px);
  }
  100% {
    width: 120vw;
    height: 120vw;
    top: calc(50vh - 60vw);
    left: calc(50% - 60vw);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes draw-curtain {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 200px;
  }
}

@keyframes draw-curtain-wide {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 500px;
  }
}

@keyframes zoom-and-grow-left {
  1% {
    display: none;
    visibility: hidden;
    left: -500px;
    top: 50%;
  }
  10% {
    display: block;
    visibility: visible;
    border-radius: 50%;
    z-index: 50;
    height: 0px;
    width: 0px;
    left: 0px;
    top: 20%;
  }
  100% {
    border-radius: 50%;
    z-index: 50;
    height: 3000px;
    width: 4000px;
    left: -3200px;
    top: calc(50% - 1500px);
  }
}

@keyframes zoom-and-grow-left-vid {
  1% {
    border-radius: 1500px;
    height: 0px;
    width: 0px;
    z-index: 55;
  }
  10% {
    border-radius: 500px;
    height: 1000px;
    z-index: 55;
  }
  100% {
    border-radius: 1500px;
    height: 3000px;
    border: solid 200px #192269;
    z-index: 55;
    padding: 230px;
    background-color: #212c7e;
  }
}

@keyframes rotate-in-up-left {
  0% {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

@media screen and (max-width: 1500px) {
  .wrapper {
    width: 96%;
    left: 2%;
  }
  .menu-block {
    height: 80px;
  }

  .logo,
  .menu-link,
  .btn,
  p {
    font-size: 0.9em;
  }

  .menu-link {
    margin: 0 0 0 20px;
  }

  .btn {
    width: 280px;
    height: 70px;
  }

  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 50px;
  }

  .title-block {
    margin-left: 0px;
    max-width: 50%;
    min-width: 400px;
  }

  p,
  .btn {
    margin-top: 50px;
  }

  .content-block {
    margin: 0 20px 0 40px;
    min-width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .menu-block {
    height: 50px;
  }

  .logo,
  .menu-link,
  .btn,
  p {
    font-size: 0.8em;
  }

  .btn {
    width: 220px;
    height: 60px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
  }

  p,
  .btn {
    margin-top: 40px;
  }

  .content-block {
    margin: 0 20px 0 30px;
    min-width: 300px;
  }

  .title-block {
    min-width: 320px;
  }
}

@media screen and (max-width: 600px) {
  .menu-block {
    height: 50px;
  }

  .logo,
  .menu-link,
  .btn,
  p {
    font-size: 0.7em;
  }

  p,
  .btn {
    margin-top: 24px;
  }

  .menu-link {
    margin: 0 0 0 20px;
    letter-spacing: 5px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  .content-block {
    margin: 0 20px 0 30px;
    min-width: 300px;
  }

  .title-block {
    min-width: 260px;
  }
}
